.side-panel {
	max-width: 33%;
	overflow-x: hidden;
	border: solid 1px black;
	float: left;
}

.side-panel {
	width: 500px;
	min-height: 300px;
}

.main-content {
	max-width: 66%;
	float: left;
	border: solid 1px black;
	min-height: 300px;
}

.loading .side-panel {
	background-color: #006600;
}